
* {
    font-family: helvetica, sans-serif;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13vw;
    font-weight: bold;
    width: 100%;
}

.logo p {
    margin: 15px 0px 5px;
}

@media screen and (min-width: 1280px) {
    .logo {
        font-size: 9vw;
        margin: 10px 0px;
    }
}

/* Navigation Bar */

nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 20px 30px 20px;
    background-color: rgb(41, 77, 238);
    color: rgb(224, 224, 224);
}

nav li {
    padding: 0px 10px;
    list-style: none;
}

/*  Main picture */
.main {
    background-image: url(../maxi/images/computers.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    margin-bottom: 40px;

}
 /* Box on picture */
.main-box {
    background-color: white;
    opacity: 0.8;
    height: 56px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin-left: 40px;
    margin-top: 100px;
    border-radius: 15px;
}

.container {
    padding: 40px 0px;
}

.main-box h2 {
    margin: 0px;
}

/* Oferta */

h3 {
    text-align: center;
    font-size: 1.9rem;
}

.oferta-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


figure img {
    height: 150px;
    width: 150px;
}

figcaption {
    text-align: center;
    padding-top: 20px;
    color: rgb(218, 32, 32);
    font-size: 1.4rem;
}

figure p {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .oferta-box figure {
        padding: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 1500px) {
    figure {
        padding: 10px;
        width: 25%;
    }
}

/* Contact box */

.contact-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-box {
    font-size: 1.1rem;
    background-color: rgb(41, 77, 238);
    color: white;
    text-align: center;
    width: 30%;
    margin: 0px 40px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .contact-box {
        flex-wrap: wrap;
    }
    .content-box {
        width: 90%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Footer */

footer p {
    font-size: 0.8rem;
    text-align: right;
    color: gray;
    padding-right: 20px;
}
